/**
 * kaliber5 theme for reveal.js.
 *
 * By Simon Ihmig
 */
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "myriad-pro", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #54514F; }

::selection {
  color: #fff;
  background: #f8b9a7;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #54514F;
  font-family: "myriad-pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2em; }

.reveal h2 {
  font-size: 1.4em; }

.reveal h3 {
  font-size: 1.2em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #ef5a31;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #c4360f;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #c4360f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #54514F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ef5a31;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #ef5a31; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #ef5a31; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #ef5a31; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #ef5a31; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #c4360f; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #c4360f; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #c4360f; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #c4360f; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #ef5a31;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .progress span {
  background: #7bba1d; }

body:after {
  content: "";
  width: 200px;
  height: 62px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: url(../../img/k5logo@2x.png) no-repeat;
  background-size: 200px 62px;
  z-index: 1; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3a3836;
  color: #dcdcdc; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #7bba1d; }

.hljs-template-tag {
  color: #ef5a31; }

.hljs-number {
  color: #7bba1d; }

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc; }

.hljs-literal {
  color: #efefaf; }

.hljs-subst {
  color: #8f8f8f; }

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #efef8f; }

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #ef5a31; }

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #ef5a31; }

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7f9f7f; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.reveal .id-card {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  min-height: 12em;
  -webkit-box-shadow: 8px 9px 22px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 8px 9px 22px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 8px 9px 22px 0px rgba(0, 0, 0, 0.39);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: #ffffff;
  /* Old browsers */
  background: linear-gradient(to right, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .reveal .id-card:before {
    content: "kaliber5";
    background: #ef5a31;
    display: block;
    color: #fff;
    height: 2em;
    line-height: 2em;
    margin-bottom: 1em;
    text-align: left;
    padding: 0 1em; }
  .reveal .id-card img {
    border: none;
    margin: 0;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 20%;
    padding: 5px;
    background: #fff;
    border-radius: 5px; }
  .reveal .id-card dl {
    display: block;
    font-size: 30.4px;
    line-height: 1.6em; }
    .reveal .id-card dl dt {
      float: left;
      width: 5em;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-transform: uppercase; }
    .reveal .id-card dl dd {
      margin-left: 6em; }
  .reveal .id-card a {
    color: #54514F;
    border-bottom: dashed 1px #54514F; }
